In [1]:
import pandas as pd
from pandas import DataFrame

In [10]:
df = pd.read_csv ('Road_accidents.csv')
df_time = pd.read_csv ('Road_accidents_time.csv')

In [14]:
#1. Add column 'Total', giving sum of accidents in each month
df['Total'] = df.iloc[:,2:].sum(axis = 1)
df
#axis=0 //horizontal(row) and axis=1 //vertical(column)

,STATE/UT,YEAR,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBER,DECEMBER,Total
0,A & N Islands,2001,8,23,15,15,14,19,14,19,7,12,13,22,181
1,A & N Islands,2002,12,10,14,16,10,7,16,11,23,21,11,17,168
2,A & N Islands,2003,19,13,15,13,13,12,8,16,17,25,14,15,180
3,A & N Islands,2004,21,14,22,17,13,18,16,19,16,20,15,24,215
4,A & N Islands,2005,19,21,22,17,13,19,21,14,15,19,10,16,206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,West Bengal,2010,1245,1150,1349,1246,1172,1284,1231,1190,1128,1227,1251,1252,14725
486,West Bengal,2011,1350,1179,1314,1148,1220,1241,1185,1074,1112,1214,1161,1270,14468
487,West Bengal,2012,1346,1383,1357,1270,1352,1434,1349,1204,1112,1251,1179,1371,15608
488,West Bengal,2013,1564,1382,1474,1392,1629,1391,1315,1208,1228,1299,1335,1332,16549
489,West Bengal,2014,1516,1398,1473,1385,1527,1439,1416,1356,1391,1395,1415,1394,17105

In [6]:
# 3.	Find the average monthly accidents for each state.
monthly_accidents = df.groupby(['STATE/UT'])['JANUARY','FEBRUARY','MARCH','APRIL', 'MAY']
print(monthly_accidents)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fde2faaad90>

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [7]:
#4.	Which month has highest accidents?
print (df.iloc[:,2:-1].sum().idxmax())

MAY

In [11]:
# 5.	Which time slot (like 0-3, 3-6 etc) has more accidents?
print (df_time.iloc[:,2:].sum().idxmax())

15-18 hrs (Day)

In [12]:
#5a. Time slots with more accidents in state 'Karnataka'
print (df_time[df_time['STATE/UT'] == 'Karnataka'].iloc[:,2:].sum().idxmax())

15-18 hrs (Day)

In [15]:
# 6.	Which state has more accidents from year 2001 to 2014?
print (df[df['YEAR'] <= 2014].groupby(['STATE/UT'])['Total'].sum().idxmax())

Tamil Nadu

In [16]:
# 7.  List states whose accidents number in year 2014 is less than 
#     state average from 2001 to 2014.
state_avg = df.groupby(['STATE/UT'])['Total'].mean()
df_2014 = df[df['YEAR'] == 2014][['STATE/UT','Total']]
df_2014.index = df_2014['STATE/UT']
del df_2014['STATE/UT']
df_2014 = df_2014.squeeze()
state_avg.drop(['D & N Haveli','Delhi (Ut)'], inplace=True)

In [17]:
print (df_2014[state_avg > df_2014].index)

Index(['Arunachal Pradesh', 'Chandigarh', 'Daman & Diu', 'Jammu & Kashmir',
       'Kerala', 'Maharashtra', 'Nagaland', 'Puducherry', 'Sikkim', 'Tripura',
       'Uttarakhand'],
      dtype='object', name='STATE/UT')

In [18]:
# 8.	Which month has more accidents over the year?
print (df.iloc[:,2:-1].mean().idxmax())

MAY